services:
  - type: web
    name: laravel-render-free
    env: docker
    plan: free
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        value: https://laravel-render-byjj.onrender.com/
    autoDeploy: true
